.cursor_dot{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--cursorPrimary);

}
.cursor_outline{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid var(--cursorPrimary);

    .cursor_image{
       display: none;
        transition: 1s;
        img{
            height: 500%;
            width: 400%;
            object-fit: cover;
            position: absolute;
            top: -50%;
            left: -50%;
            transform: translate(-50%,-50%);
        }
    }
    .first_image{
        &.active{
            display: block;
        }
    }
    .second_image{
        &.active{
          display: block;
        }
    }

}
.cursor_dot, .cursor_outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    pointer-events: none;
    z-index: 100;
}


@media (max-width:425px) {

    .cursor_dot, .cursor_outline{
        display: none;
    }
    
}


