<div class="cursor_dot" #cursorDot></div>
<div class="cursor_outline" #cursor>
    <div class="cursor_image first_image">
        <img src="../../../assets/images/certificates-images/angularJava.png" alt="certificate image">
    </div>
    <div class="cursor_image second_image">
        <img src="../../../assets/images/certificates-images/angular.png" alt="certificate image">
    </div>
    <div class="cursor_image third_image">
        <img src="../../../assets/images/certificates-images/EF.png" alt="certificate image">
    </div>
    <div class="cursor_image fourth_image">
        <img src="../../../assets/images/certificates-images/dataAnalise.png" alt="certificate image">
    </div>
    <div class="cursor_image fifth_image">
        <img src="../../../assets/images/certificates-images/trybe.png" alt="certificate image">
    </div>
</div>