.cursor_dot{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--cursorPrimary);
    &.hghtlightImage{
        height: 0px;
        width: 0px;
        border: 0px ;
    }

    &.footerHightlight{
        background-color: var(--White);
    }
}
.cursor_outline{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: 1px solid var(--cursorPrimary);
    
    &.hghtlightImage{
        height: 30px;
        width: 30px;
        border: 0px ;
      background-color: var(--cursorH2);
    }

    &.footerHightlight{
        border: 1px solid var(--White);
    }

}
.cursor_dot, .cursor_outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    pointer-events: none;
    transform: rotate(45deg);
    z-index: 100;
}


@media (max-width:425px) {

    .cursor_dot, .cursor_outline{
        display: none;
    }
    
}