<div class="cursor_dot" #cursorDot></div>
<div class="cursor_outline" #cursor>
    <div class="inner"></div>

    <div class="cursor_image first_image">
        <img ngSrc="./assets/images/certificates-images/angularJava.png" height="100" width="100">
    </div>
    <div class="cursor_image second_image">
        <img ngSrc="./assets/images/certificates-images/angular.png" height="100" width="100">
    </div>
    <div class="cursor_image third_image">
        <img ngSrc="./assets/images/certificates-images/EF.png" height="100" width="100">
    </div>
    <div class="cursor_image fourth_image">
        <img ngSrc="./assets/images/certificates-images/dataAnalise.png" height="100" width="100">
    </div>
    <div class="cursor_image fifth_image">
        <img ngSrc="./assets/images/certificates-images/trybe.png" height="100" width="100">
    </div>
</div>