@mixin filterEffect($x:-25px,$y:0px){
    height: 5px;
    width: 5px;
    transform: translate($x, $y);
}


.filter_container{
    width: 100%;
    display: flex;
    justify-content: center;
    .filter{
        border: 1px solid var(--White);
        padding: 0.8rem 2rem;
        display: flex;
        align-items: center;
        gap: 1rem ;
        position: relative;
        margin: 1rem 0;
        z-index: 200;
        button{
            font-family: 'Farsan', cursive;
            background-color: transparent;
            border: none;
            color: var(--White);
            font-size: 20px;
            transition: 1s;
            &:nth-child(1){
                padding: 0 1rem 0 0;
                border-right: 1px solid var(--White);

            }

            &::after{
                position: absolute;
                content: '';
                height: 0px;
                width: 0px;
                border-radius: 50%;
                background-color: var(--White);
                transition: 0.4s;
                bottom: 10%;
            }
            &.all{
                &::after{
                    height: 1px;
                    width: 15px;
                    border-radius: 1rem;
                    transform: translateX(-17px);
                }
            }
            &.newba{
                &::after{
                    @include filterEffect(-25px);
                }
            }
            
            &.inter{
                &::after{
                    @include filterEffect(-40px,-35px);
                }
            }
             
            &.pro{
                &::after{
                    @include filterEffect(-13px);
                }
            }
        }   
    }
}

.messageOptionPro{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    img{
        height: 50vh;
        width: 40vw;
        object-fit: cover;
        filter: grayscale(100%);
        transition: 1s;
        &:hover{
            filter: grayscale(0%);
        }
    }
    h3{
        font-size: 20px;
        text-align: justify;
        width: 40%;
    }
}