.filter_container{
    width: 100%;
    display: flex;
    justify-content: center;
    .filter{
        border: 1px solid var(--White);
        padding: 0.5rem 2rem;
        display: flex;
        align-items: center;
        gap: 2rem ;
        position: relative;
        margin: 1rem 0;
        button{
            font-family: 'Farsan', cursive;
            background-color: transparent;
            border: none;
            color: var(--White);
            font-size: 20px;
            transition: 1s;
         
            &:hover{
                color: var(--Blakck);
    
            }
        }
    }
}

.messageOptionPro{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    img{
        height: 50vh;
        width: 40vw;
        object-fit: cover;
        filter: grayscale(100%);
        transition: 1s;
        &:hover{
            filter: grayscale(0%);
        }
    }
    h3{
        font-size: 20px;
        text-align: justify;
        width: 40%;
    }
}