.filter_container{
    width: 100%;
    display: flex;
    justify-content: center;
    .filter{
        border: 1px solid var(--White);
        padding: 0.5rem 2rem;
        display: flex;
        align-items: center;
        gap: 2rem ;
        position: relative;
        margin: 1rem 0;
        button{
            font-family: 'Farsan', cursive;
            background-color: transparent;
            border: none;
            color: var(--White);
            font-size: 20px;
            transition: 1s;
         
            &:hover{
                color: var(--Blakck);
    
            }
        }
    }
}

.messageOptionPro{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h3{
        font-size: 10vw;
    }
}