@media (max-width:768px) {
    .about{
        .about_content{
            .who{
                p{
                    width: 90%;
                }
            }
          
        }
       
    }
}

@media (max-width:425px) {
    .about{
        .about_informations{
            .tech_container{
                h2{
                    transform: translate(80%,40%) rotate(20deg);
                }
                .technologies{
                    svg{
                        height: 30px;
                        width: 30px;
                    }   
                }
            
            }
            }
        }
    
}