@media (max-width:768px) {
    .about{
        p{
            width: 80%;
        }
    }
}

@media (max-width:425px) {
    .about{
        .about_informations{
            .tech_container{
                h2{
                    transform: translate(80%,40%) rotate(20deg);
                }
                .technologies{
                    svg{
                        height: 30px;
                        width: 30px;
                    }   
                }
            
            }
            }
        }
    
}