.about{
    height: 100%;
    background-color: var(--Black);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    overflow: hidden;
    h3{
        padding-bottom: 10px;
        
    }

    p{  
        border-top: 1px solid var(--Grey);
        padding-top: 1rem;
        width: 50%;
        font-size: 20px;
        text-align: center;
    }

    .about_informations{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        margin-top: 3rem;
        h2{
            font-size: 7vw;
            font-weight: 100;
        }
        p{
            border: none;
        }
        .tech_container{
            padding: 1rem 0;
            text-align: center;

            h2{
                font-size: 10vw;
                transform: translate(80%,20%) rotate(20deg);
            }

            .technologies{
                height: 70vh;
                width: 100%;
                gap: 1rem;
                position: relative;
                svg{
                    height: 10vh;
                    width: 5vw;
                    position: absolute;

                    &:nth-child(1){
                        left: 0;
                        top: 50%;
                    }

                    &:nth-child(2){
                        top: 0;
                        left: 30%;
                    }
                     
                    &:nth-child(3){
                        top: 50%;
                        left: 50%;
                    }
                    &:nth-child(4){
                        top: 0%;
                        right: 30%;
                    }
                    &:nth-child(5){
                        top: 50%;
                        right: 0%;
                    }
                    &:nth-child(6){
                        bottom: 0%;
                        right: 20%;
                    }
                    &:nth-child(7){
                        bottom: 0%;
                        left: 20%;
                    }
                }
            }
        }
       }

    .carousel{
        width: 200%;
        display: flex;
        align-items: center;
        gap: 2rem;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        animation: marquee 100s linear infinite;
        h2{
            font-size: 5vw;
            font-weight: 100;
        }
        .gif{
            height: 200px;
            width: 200px;
            
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                filter: grayscale(100%);
                transition: 1s;
            }
            img:hover{
                filter: grayscale(0%);
            }
        }
    }
    .about_image{
        height: 100vh;
        width: 100vw;
        background: url('../../../assets/images/bg/home-bg-footer.jpg') center/cover;
        background-attachment: fixed;
    }
}


@keyframes marquee {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(-100%);
    }
  }


 