<div class="about">
  <p class="about_text">
    I'm Renan de Souza Aquino, a 19-year-old self-taught individual in Manaus,
    Brazil. Seeking my first professional opportunity, I bring determination,
    adaptability, and a sincere passion for learning. Ready to contribute, I'm
    eager to make a positive impact wherever I go.
  </p>

    <div class="carousel">
  
        <h2>Games</h2>
            <div class="gif">
                <img src="https://i.pinimg.com/originals/13/c2/8b/13c28b034a95c99d01773c44ae45ee24.gif" alt="">
            </div>
        <h2>Music</h2>
            <div class="gif">
                <img src="https://i.pinimg.com/originals/29/2f/8c/292f8cda0c57254fd9bfbd66fecd6ae8.gif" alt="">
            </div>
        <h2>Series</h2>
            <div class="gif">
                <img src="https://i.pinimg.com/originals/ea/c2/61/eac26181f6a03a98c7828992be7e346a.gif" alt="">
            </div>
      </div>



</div>
