<div class="about">
  <div class="about_content">

    <h3 class="about_title" >What I do</h3>

    <p class="about_text">My name is Renan Souza, a 19-year-old Front End student based in Brazil, with a keen focus on web design and brand identity.</p>
    
  </div>

  <div class="about_informations">
    <div class="tech_container">
      <h2 class="tech_title">My Technologies</h2>

      <div class="technologies">
        <img class="tech" ngSrc="./assets/icons/sass-icon.svg" height="100" width="100" />
        <img class="tech" ngSrc="./assets/icons/html-icon.svg" height="100" width="100"/>
        <img class="tech"  ngSrc="./assets/icons/js-icon.svg" height="100" width="100" />
        <img class="tech"  ngSrc="./assets/icons/css-icon.svg" height="100" width="100"/>
        <img class="tech"  ngSrc="./assets/icons/git-icon.svg" height="100" width="100"/>
        <img class="tech"  ngSrc="./assets/icons/github-icon.svg" height="100" width="100"/>
        <img class="tech"  ngSrc="./assets/icons/figma-icon.svg" height="100" width="100"/>
        <img class="tech" ngSrc="./assets/icons/angular-icon.svg" height="100" width="100"/>
      </div>
    </div>
  </div>

  <div class="carousel">
    <h2>Games</h2>
    <div class="gif">
      <img
        ngSrc="./assets/animatedImages/firstGif.gif" height="100" width="100"
        alt=" three characters from an animated series called Adventure Time. The characters are Finn, Jake, and Princess Bubblegum "
      />
    </div>
    <h2>Music</h2>
    <div class="gif">
      <img
        ngSrc="./assets/animatedImages/secondGif.gif" height="100" width="100"
        alt="pixel art illustration of 2D, the main character from the video game Gorillaz."
      />
    </div>
    <h2>Series</h2>
    <div class="gif">
      <img
        ngSrc="./assets/animatedImages/thirdGif.gif" height="100" width="100"
        alt="pixel art rendering of a scene from the video game Shadow of the Colossus."
      />
    </div>
    <h2>Coding</h2>
    <div class="gif">
      <img
      ngSrc="./assets/animatedImages/fourthGif.gif" height="100" width="100"
        alt="pixel art illustration of a person sitting at a desk and typing on a laptop computer"
      />
    </div>
  </div>
  <div class="about_image"></div>
</div>
