.about{
    height: 100vh;
    background-color: var(--Black);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    h3{
        padding-bottom: 10px;
        
    }

    p{  
        border-top: 1px solid var(--White);
        padding-top: 1rem;
        width: 50%;
        font-size: 20px;
        text-align: center;
    }
    

    .carousel{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 2rem;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        animation: marquee 40s linear infinite;
        h2{
            font-size: 5vw;
            font-weight: 100;
        }
        .gif{
            height: 200px;
            width: 200px;
            
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                filter: grayscale(100%);
                transition: 1s;
            }
            img:hover{
                filter: grayscale(0%);
            }
        }
    }
    
}


@keyframes marquee {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(-100%);
    }
  }