<div class="about">
    <h3>Who I am?</h3>

  <p class="about_text">
    I'm Renan de Souza Aquino, a 19-year-old self-taught individual in Manaus,
    Brazil. Seeking my first professional opportunity, I bring determination,
    adaptability, and a sincere passion for learning. Ready to contribute, I'm
    eager to make a positive impact wherever I go.
  </p>

  <div class="about_informations">
    <div class="tech_container">
        <h2 class="tech_title">My Technologies</h2>

        <div class="technologies">
            <p class="tech"><i class="ri-html5-line"></i></p>
            <p class="tech"><i class="ri-css3-line"></i></p>
            <p class="tech"><i class="ri-javascript-line"></i></p>
            <p class="tech"><i class="ri-angularjs-line"></i></p>
        </div>
    </div>

</div>


    <div class="carousel">
  
        <h2>Games</h2>
            <div class="gif">
                <img src="../../../assets/animatedImages/firstGif.gif" alt=" three characters from an animated series called Adventure Time. The characters are Finn, Jake, and Princess Bubblegum ">
            </div>
        <h2>Music</h2>
            <div class="gif">
                <img src="../../../assets/animatedImages/secondGif.gif" alt="pixel art illustration of 2D, the main character from the video game Gorillaz.">
            </div>
        <h2>Series</h2>
            <div class="gif">
                <img src="../../../assets/animatedImages/thirdGif.gif" alt="pixel art rendering of a scene from the video game Shadow of the Colossus.">
            </div>
        <h2>Coding</h2>
            <div class="gif">
                <img src="../../../assets/animatedImages/fourthGif.gif" alt="pixel art illustration of a person sitting at a desk and typing on a laptop computer">
            </div>   
      </div> 
      <div class="about_image"></div>
</div>
