footer{
    height: 100vh;
    background-color: var(--Black);
    .footer_img{
        height: 90vh;
        width: 100%;
        background: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/6cfbdc187528807.658af54defe1b.jpg') center/cover;
        background-attachment: fixed;
        filter: grayscale(100%);
    }
    .footer_content{
        background-color: var(--Black);
        height: 50vw;
        display: grid;
        place-content: center;
    }
}