<footer>
    <div class="contact_me">
        <span routerLink="/Contact">contact me</span>
    </div>
    <div class="footer_main">
        <a routerLink="/{{footerLink}}">
            <h2>{{footerNamePage}}</h2>
            <h3>Next Page</h3>
        </a>
    </div>
    <div class="informations">
        <div class="socials">
            <a href="linkedin.com/in/renan-souza-aquino"><span>linkedin</span></a>
           <a href="https://github.com/renansouza12"><span>github</span></a> 
            
        </div>
        <span>2024</span>
        
    </div>
</footer>
