@media (max-width:425px) {
    header{
        h3{
            font-size: 4vw;
        }
        .nav{
            position: fixed;
            bottom:2%;
            left: 10%;
            width: 80%;
            justify-content: center;
            align-items: center;
            padding: 10px;

            background: rgba(255,255,255,0.1);
            -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
            border: 1px solid rgba(255,255,255,0.15);
            a{
                font-size: 3.5vw;

                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    background-color: var(--White);
                    height:0;
                    border-radius: 0px;
                    width: 0%;
                    transition: non; 
                }
                &:hover{
                    background-color: transparent;
                }
            }
        }
    }
}