@media (max-width:425px) {
    header{
        position: fixed;
        bottom:2%;
        left: 10%;
        width: 80%;
        background: rgba(0,0,0,0.35);
        -webkit-backdrop-filter: blur(35px);
        backdrop-filter: blur(35px);
        border-left: 2px solid rgba(255, 253, 253, 0.175);
        border-top: 1px solid rgba(255, 253, 253, 0.175);
        border-right: 1px solid rgba(79, 79, 79, 0.175);
        border-radius: 2rem;
        padding: 10px;
        
        h3{
            font-size: 4vw;
        }
        .nav{
            gap: 5px;

            a{
                font-size: 3.5vw;
            }
        }
    }
}