header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 1rem 3rem;

    h3{
        text-transform: uppercase;
        font-size: 18px;
    }
    span{
        font-size: 14px;
        font-weight: bold;
        text-transform: capitalize;
    }

    .nav{
        display: flex;
        align-items: center;
        gap: 20px;
        a{
            font-size: 14px;
            text-transform: uppercase;
            color: var(--Light-gray);
            position: relative;
            padding: 5px 10px;
            font-weight: bold;

            i{
                font-size:  16px;
            }

            &::after,&::before{
                position: absolute;
                content: '';
                height: 1px;
                width: 0%;
                background-color: var(--Grey);
            }

            &.active{

                &::after{
                    top: 10%;
                    left: 0;
                    width: 50%;
                }
                &::before{
                    bottom: 10%;
                    right: 0;
                    width: 40%;
                }
            
            }
           
          
        }
    }
}
