@media (max-width:425px) {
    header{
        position: fixed;
        bottom:2%;
        left: 10%;
        width: 80%;
        background-color: #2b2b2b;
        padding: 10px;
        
        h3{
            font-size: 4vw;
        }
        .nav{
            gap: 5px;

            a{
                font-size: 3.5vw;
            }
        }
    }
}