.hero{
    height: 100vh;
    background-color: var(--Black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        color: var(--White);
        font-size: 10vw;
        font-weight: 100;
        z-index: 10;
    }
    .main_image{
        height: 70vh;
        width: 70vw;
        transform: translateY(-50px);
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
