@media (max-width:425px) {
    .hero{
        display: flex;
        flex-direction: column;
        .informations{
          position: static;
          width: 100%;
          align-items: flex-end;
          padding: 1rem;
          background-color: transparent;

          .description,.technologies{
            text-align: end;
          }
          
        }
        .project_images{
            .image{
                width: 100%;
            }
        }
        button{
             bottom: 10%;
             background: rgba(3, 3, 3, 0.1);
             -webkit-backdrop-filter: blur(2px);
             backdrop-filter: blur(4px);
             border-radius: 5px;
        }
    }
}