.hero{
    height: 100%;
    background-color: var(--Black);
    .informations{
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2rem;
        gap: 3rem;
        background: rgba(255,255,255,0.2);
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);

        p{
            font-size: 18px;
        }
        h2{
            font-size: 7vw;
            font-weight: 100;
        }

        .description{
            width: 80%;
            span{
                font-size: 17px;
            }
        }
        a{
            color: var(--White);
            font-size: 20px;
        }
        .repository{
            a{
                font-size: 14px;
            }
        }
        .technologies{
            text-transform: uppercase;
        }
    }
    .project_images{
        padding: 2rem ;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 4rem;
        .image{
            height: 60vh;
            width: 40vw;
            position: relative;
            transition: 1s;
            overflow: hidden;
            img{
                height: 100%;
                width: 100%;    
                object-fit: cover;
            }
            
            &::after{
                position: absolute;
                content:"";
                height: 60%;
                width: 1000px;
                background: rgba(255,255,255,0.5);
                top: -110%;
                left: 10%;
                transform: translate(-50%,50%) rotate(321deg);
                transition: 1s;
            }
            &:hover::after{
                left: 100%;
                top: 100%;
            }
            &:hover{
                scale: 1.1;
            }
        }
    }
    button{
        position: fixed;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-transform: uppercase;
        border: 1px solid rgba(255,255,255,0.15);
        background-color: transparent;
        font-size: 0.8vw;
        font-weight: 100;
        color: var(--White);
        padding: 1rem 2rem;
        transition: 1s;
        position: relative;
            // &:hover{
            //     background: rgba(255,255,255,0.1);
            //     -webkit-backdrop-filter: blur(2px);
            //     backdrop-filter: blur(2px);
            // }
            &::after{
                position: absolute;
                content: "";
                height: 0%;
                width: 0%;
                background: rgba(153, 153, 153, 0.1);
                -webkit-backdrop-filter: blur(2px);
                backdrop-filter: blur(2px);
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
                z-index: -1;
            }
            &:hover::after{
                height: 100%;
                width: 100%;
            }
            &:hover{
            
                border: none;
            }
    }    
}  
