<div class="hero">

    <div class="informations">
        <h2>{{projectName}}</h2>

        <div class="description">
            <span>{{description}}</span>
        </div>

        <a href={{demoLink}}>Visit the website</a>

        <div class="repository">
            <a href={{repository}}>Repository</a>
        </div>

        <div class="technologies">
            <p>Techs</p>
            <span>{{techs}}</span>
        </div>
        
    </div>
    <div class="project_images">
            <div class="image">
                <img src={{firstImage}} alt="">
            </div>
            <div class="image">
                <img src="{{secondImage}}" alt="">
            </div>
            <div class="image">
                <img src="{{thirdImage}}" alt="">
            </div>
    </div>
    <button  routerLink="/Projects">Back To Projects</button>
</div>
