.course_catalog{
    height: 100vh;
    background-color: var(--Black);
    display: flex;
    justify-content: center;
    align-items: center;

    .certificates{
        height: 100%;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4,0.2fr);
        grid-template-rows: 10vh repeat(3,0.3fr);
        grid-template-areas: "top top top right"
                            "center center center right"
                            "bottom bottom bottom-right bottom-right";
        gap: 10px;
        place-content: center;
        position: relative;
        .box{
            color: var(--White);
            border: 1px solid var(--Grey);
            height: 100%;
            display: flex;
            align-items: flex-end;
            padding: 1rem;
            transition: 1s;
            &:hover{
                border: 1px solid var(--White);
            }
            &:nth-child(1),&:nth-child(2),&:nth-child(3){
                grid-area: top;
            }
            &:nth-child(4),&:nth-child(5){
                grid-area: right;
            }
            &:nth-child(6),&:nth-child(7){
                grid-area: bottom-right;
            }
            &:nth-child(10),   &:nth-child(14){
                border: none;
                p{
                    display: none;
                }
            }
        }
    }
 .certificate_image{
    position: absolute;
    bottom: -140%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85vh;
    width: 50vw;
    display: none;
    overflow-y: auto;
    animation: appear 1s forwards;
    &::-webkit-scrollbar {
        width: 5px; 
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: var(--Grey);
        border-radius: 1rem; 
      }
      
    img{
        object-fit: contain;
        height: fit-content;
        width: 100%;


    }
    &.enable{
        display: block;
    }

    .close_certificate_image{
        position: absolute;
        top: 5%;
        right:10%;
        display: flex;
        flex-direction: column;
        gap: 5px;

        background: rgba(1, 1, 1, 0.1);
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        border-radius: 5px;
        padding: 7px;
        .line{
            height: 1px;
            width: 20px;
            border-radius: 1rem;
            background-color: var(--Black);
            transition:0.7s;

            &:nth-child(1){
                transform:  rotate(1turn);
            }
                      
            &:nth-child(2){
                width: 15px;
            }
            &:nth-child(3){
                transform: rotate(-1turn) ;
            }
        }

        &:hover .line:nth-child(1){
            transform:  rotate(42deg) translate(5px, 5px);   
        }
        &:hover .line:nth-child(2){
            transform:  translateX(50px);
            opacity: 0;   
        }
        &:hover .line:nth-child(3){
            transform:  rotate(-42deg) translate(4px, -4px);   
        }
    }
 }  
}
@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}