.course_catalog{
    height: 100vh;
    background-color: var(--Black);
    display: flex;
    justify-content: center;
    align-items: center;

    .certificates{
        height: 100%;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4,0.2fr);
        grid-template-rows: 10vh repeat(3,0.3fr);
        grid-template-areas: "top top top right"
                            "center center center right"
                            "bottom bottom bottom-right bottom-right";
        gap: 10px;
      place-content: center;

        .box{
            color: var(--White);
            border: 1px solid var(--White);
            height: 100%;
            display: flex;
            align-items: flex-end;
            padding: 1rem;
    
            &:nth-child(1),&:nth-child(2),&:nth-child(3){
                grid-area: top;
            }
            &:nth-child(4),&:nth-child(5){
                grid-area: right;
            }
            &:nth-child(6),&:nth-child(7){
                grid-area: bottom-right;
            }
            &:nth-child(10),   &:nth-child(14){
                border: none;
                p{
                    display: none;
                }
            }
        }
    }
 
   
}