.title_container{
    height: 100%;
    background-color: var(--Black);
    .project_titles{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 3rem;
        h2{

            font-size: 12vw;
            font-weight: 100;
            &:nth-child(2){
                color: var(--Grey);
               transform: translateY(-40%);
            }
            &:nth-child(3){
                color: var(--Silver);
                transform: translateY(-80%);
               
            }
        }
    
    }
    .title_image{
        background: url('../../../assets/images/bg-project.png') center/cover;
        height: 100vh;
        width: 100%;
        background-attachment: fixed;
    }
}