.title{
    height: 100vh;
    background-color: var(--Black);
    display: flex;
    flex-direction: column;
    h2{
        margin: 9rem 0 0 4rem;
        font-size: 12vw;
        font-weight: 100;
        &:nth-child(2){
            color: var(--Grey);
            transform: translateY(-190px);
        }
        &:nth-child(3){
            color: var(--Silver);
            transform: translateY(-370px);
        }
    }

}