.showcase{
    height: 100%;
    background: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/03d41a34690819.56d9c47196f86.jpg') center/cover;
    background-attachment: fixed;

    .showcase_description{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        img{
            height: 50vh;
            width: 40vw;
            object-fit: cover;
            box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
         
        }
        p{
            position: absolute;
            width: 20%;
            color: var(--Black);
            font-size: 2vw;
            transform: translate(-40px,100px);
            text-align: justify;
            top: 0%;
            right: 10%;
        }
    }    
    .informations{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        gap:2rem;
        flex-wrap: wrap;
        img{
            height: 50vh;
            width: 40vw;
            object-fit: cover;
        }

        .info{
            display: flex;
            flex-direction: column;
            gap: 16px;
            a{
                color: var(--White);
                margin-bottom: 1rem;
                position: relative;
                transition: 0.5s 0.5s;
                &::after, &::before{
                    position: absolute;
                    content: "";
                    bottom: 0;
                }
                &::after{
                    height: 1px;
                    width: 100%;
                    background-color: #fff;
                    left: 0;
                }
                &::before{
                    height: 1px;
                    right: 0;
                    width: 0%;
                    background-color: var(--Black);
                    transition: 0.5s;
                    z-index: 1;
                }
                &:hover::before{
                    width: 100%;
                }
                &:hover{
                    color: var(--Black);
                }
                
            }
        }
    }
    button{
        position:   fixed;
        left: 50%;
        bottom: 0;
        transform: translate(-50%,-50%);
        text-transform: uppercase;
        border: 1px solid rgba(7, 7, 7, 0.15);
        background-color: transparent;
        font-size: 10px;
        font-weight: 100;
        color: var(--Black);
        padding: 1rem 2rem;
        transition: 1s;
            &::after{
                position: absolute;
                content: "";
                height: 0%;
                width: 0%;
                background: rgba(24, 24, 24, 0.1);
                -webkit-backdrop-filter: blur(2px);
                backdrop-filter: blur(2px);
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
                z-index: -1;
            }
            &:hover::after{
                height: 100%;
                width: 100%;
            }
            &:hover{
            
                border: none;
            }
    }    
}
