<div class="showcase">
        <div class="showcase_description">
            <img src={{secondImage}} alt="image project">
            <p>{{description}}</p>
        </div>
        <div class="informations">
          <div class="info">
            <a href={{demoLink}}>Visite the Website</a>
           <div class="repository">
              <a href={{repository}}>repository</a>
           </div>
           <div class="techs">
            <p>techs</p>
            <span>{{techs}}</span>
           </div>
          </div>
          <img src={{thirdImage}} alt="image project">
        </div>
      <button  routerLink="/Projects">Back To Projects</button>
</div>