@media (max-width:768px){
    .showcase{
        .showcase_description{
            img{
                width: 60vw;
            }
            p{
                font-size: 1rem;
                width: 40%;
                right: -6%;
            }
        }
    }
}
@media (max-width:425px){
    .showcase{
        .showcase_description{
            img{
                width: 90vw;
            }
            p{
                font-size: 1rem;
                width: 90%;
                top: 60%;
                text-align: center;
            }
        }
        .informations{
            flex-direction: column-reverse;
            text-align: center;
            img{
                width: 90vw;
            }
        }
        button{
            bottom: 6%;
        }
    }
}