<div class="showcase">
        <div class="showcase_description">
            <img  class="second_image" ngSrc={{secondImage}} height="500" width="500">
            <p class="text_description">{{description}}</p>
        </div>
        <div class="informations">
          <div class="info">
            <a href={{demoLink}}>Visite the Website</a>
           <div class="repository">
              <a href={{repository}}>repository</a>
           </div>
           <div class="techs">
            <p>techs</p>
            <span class="text_techs">{{techs}}</span>
           </div>
          </div>
          <img class="third_image"  ngSrc={{thirdImage}} height="500" width="500">
        </div>
      <button  routerLink="/Projects">Back To Projects</button>
</div>  