.course_introduction{
    height: 100vh;
    background: var(--Black);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .course_title{
        font-size: 10vw;
        font-weight: 100;
    }
    p{
        width: 20%;
        text-align: center;
    }

    .extra{
        width: 80%;
        border-top: 1px solid var(--White);
        display: flex;
        justify-content: space-between;
        padding: 0 1rem 0 1rem;
        p,a{
            transition: 1s;
        }
        p{
            width: fit-content;
        }
        a{
            color: var(--White);
        }
        a:hover , p:hover{
            text-shadow:  #FFF 0px 0px 15px;
            letter-spacing: 1px;
        }
    }
}