:root{
    --Black:#000000;
    --White:#FFFFFF;
    --Grey:#868686; 
    --Silver:#A8A8A8 ;
}
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Farsan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--Silver);
    
    &::-webkit-scrollbar{
        display: none;
    }
}
h1{
    font-family: 'Belleza', sans-serif;
    color: var(--White);
    font-size: 17vw;
}
h2{
    font-family: 'Italiana', sans-serif;
    color: var(--White);
}
h3{
    font-family: 'Buda', serif;
    color: var(--White);
    font-weight: 100;
}
h4{
    font-family: 'Italianno', cursive;
    color: var(--White);
}
p{
    font-family: 'Farsan', cursive;
    color: var(--White);
}

a{
    text-decoration: none;
    font-family: 'Buda', serif;
}