:root{
    --Black:#000000;
    --White:#FFFFFF;
    --Grey:#868686; 
    --Silver:#A8A8A8 ;
    --Light-gray:#53536a;
    //curso colors
    --cursorPrimary:#b9cce3;
    --cursorH1:#8f8e8e63;
    --cursorH2:#4c4a4a51;

    --cursorLink:#ffffff23;

    --cursorLogo:rgba(255,255,255,0.1);
}

@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Farsan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}
body{
    background-color: var(--Silver);
    font-family: 'Farsan', cursive;
    &::-webkit-scrollbar{
        display: none;
    }
}
h1{
    font-family: 'Belleza', sans-serif;
    color: var(--White);
    font-size: 17vw;
}
h2{
    font-family: 'Italiana', sans-serif;
    color: var(--White);
}
h3{
    font-family: 'Buda', serif;
    color: var(--White);
    font-weight: 100;
}
h4{
    font-family: 'Italianno', cursive;
    color: var(--White);
}
p{
    color: var(--White);
}

a{
    text-decoration: none;
    font-family: 'Buda', serif;
}
span{
    color: var(--Silver);
    font-size: 18px;
}