.project_card{
    height: 60vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--White);
    overflow: hidden;
    h4{
        font-size: 7vw;
        font-weight: 100;
    }

    .project_image_card{
        height: 80%;
        width: 70%;
        background-color: var(--White);
        margin-right: 3rem;

    
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: 0.5s;
        }

        .hover_text{
            position: absolute;
            top: 90%;
            right: 0%;
            transform: translate(-50%,-50%);

            background: rgba(255,255,255,0.1);
            -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
            border: 1px solid rgba(255,255,255,0.15);
            width: fit-content;
            transition: 1s;
            opacity: 0;
            h3{
                padding: 5px 10px;
                font-size: 3vw; 
                transition: 1s;
            }
        }

        
        &:hover img{
            filter: brightness(30%);
            scale: 1.1;
        }
        &:hover .hover_text{
            opacity: 1;
        }
      
    }
}
