.project_card{
    height: 60vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--White);
    transition: 1s;
    h4{
        font-size: 7vw;
        font-weight: 100;
    }

    .project_image_card{
        height: 80%;
        width: 70%;
        background-color: transparent;
        margin-right: 3rem;
        position: relative;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: 0.5s;
            clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
        }
    
        .hover_text{
            position: absolute;
            left: 0;
            bottom: 45%;
            opacity: 0;
            transition: 1s;

        }

        &:hover img {
            clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);        
            transform: translateX(10%);
            transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
            filter: brightness(50%);
        }
        &:hover .hover_text{
            opacity: 1;
            transform: translateX(40%);
        }
    }
  
}
